:root {
  --primary-color: #dbcf5c;
}

html {
  font-size: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
section{
  margin: 70px 30px;
}
header{
  text-align: center;
  margin: 40px;
}
.parallax {
  background-image: url("/starter/img/olive-oil_1920.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 20vw;
}
.parallax:hover {
  background-image: url("/starter/img/olive-oil_1920.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 20vw;
  filter: grayscale(100%)
}
